.display {

    height: 230px;
    width: 380px;
    background-color: black;
    color: aliceblue;
    font-size: 90px;
}





.clear {
    height: 30px;
    width: 70px;
}
    
    
    

.gray {
    background-color: lightgray;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.red {
    background-color:salmon;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}


.orange {
    background-color:orange;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}


.yellow {
    background-color:gold;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}


.green {
    background-color: darkseagreen;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}


.blue {
    background-color: steelblue;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.indigo {
    background-color: mediumslateblue;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.violet {
    background-color: orchid;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.slate {
    background-color:slategrey;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.coral {
    background-color: lightcoral;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.plus {
    background-color: wheat;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.minus {
    background-color:lightseagreen;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.division {
    background-color:mediumvioletred;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.times {
    background-color:pink;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.equals {
    background-color:lightsteelblue;
    height: 150px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
    display: flex;
    display: inline-block;
}

.clear {
    background-color:tomato;
    height: 80px;
    width: 150px;
    size: 50px;
    font-weight: bold;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    display: inline-block;
}

